### Example 1

In this example, I will just use a normal json file with one level nested keys

In [13]:
import utils.flatten_json as fj

In [15]:
data = [{'state': 'Florida',
          'shortname': 'FL',
          'info': {
               'governor': 'Rick Scott'
          },
          'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio',
          'shortname': 'OH',
          'info': {
               'governor': 'John Kasich'
          },
          'counties': [{'name': 'Summit', 'population': 1234},
                       {'name': 'Cuyahoga', 'population': 1337},
                      {'name': 'Cuyahoga2', 'population': 1331}]}]

In [16]:
df = fj.flatten_json(data)
df

,state,shortname,info.governor,counties.name,counties.population
0,Florida,FL,Rick Scott,"[Dade, Broward, Palm Beach]","[12345, 40000, 60000]"
1,Ohio,OH,John Kasich,"[Summit, Cuyahoga, Cuyahoga2]","[1234, 1337, 1331]"