In [14]:
import json
import pandas as pd
import numpy as np

In [55]:
def flatten_outer (data):
    full_list = []
    def magic_json (min_data,high_level_key):
        #print('min_data is: ', min_data.keys())
        for k,v in min_data.items():
            #print("key is: ", k)
            fin_key = high_level_key+'.'+k if high_level_key !='' else k
            #print('fin_key: ', fin_key)
            if isinstance(v, dict): 
                magic_json(v, fin_key)
                
            elif isinstance(v, list):
                for i in range(0, len(v)): 
                    if (isinstance(v[i], dict)):
                        magic_json(v[i], fin_key)
                    else: 
                        my_list[fin_key] = v
            else:
                if fin_key in my_list.keys():
                    my_list[fin_key].append(v) 
                else:
                    my_list[fin_key] = [v]
        
        return my_list
        
    for row in data:
        #print("each row: ",row)
        my_list = dict() 
        cv =  magic_json(row,'')
        full_list.append(cv)
    
    #dataframe = df_create_clean(full_list)
    
    return full_list

In [56]:
def df_create_clean(full_list):
    df = pd.DataFrame(full_list)
    df = df.where(pd.notnull(df),None)
    cols = df.columns
    for col in cols:
        df[col] = df[col].apply(lambda x: None if (isinstance(x,list) and len(x)==0) else x)
        df[col] = df[col].apply(lambda x: x[0] if (isinstance(x,list) and len(x)==1) else x)
    return df

In [57]:
data = [{'state': 'Florida',
          'shortname': 'FL',
          'info': {
               'governor': 'Rick Scott'
          },
          'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio',
          'shortname': 'OH',
          'info': {
               'governor': 'John Kasich'
          },
          'counties': [{'name': 'Summit', 'population': 1234},
                       {'name': 'Cuyahoga', 'population': 1337}]}]

In [58]:
ls = flatten_outer(data)
f_df = df_create_clean(ls)

In [59]:
f_df

,state,shortname,info.governor,counties.name,counties.population
0,Florida,FL,Rick Scott,"[Dade, Broward, Palm Beach]","[12345, 40000, 60000]"
1,Ohio,OH,John Kasich,"[Summit, Cuyahoga]","[1234, 1337]"